
 <a href="/admin/book/pdf" > <button type="button" class="btn btn-success">Download Pdf</button></a> 
 <a href="/admin/book/excel" > <button type="button" class="btn btn-info">Download Excel</button></a> 
 <a href="/api?formatter=json" > <button type="button" class="btn btn-default">API json</button></a> 
 <a href="/api?formatter=xml" > <button type="button" class="btn btn-primary">API xml</button></a> 
 <a href="/admin/book/add" style="aligns:right" > <button type="button" class=" class= btn btn-warning pull-right">Add Book</button></a> 

 <?php Lib\Session::set('uri_back',$_SERVER[REQUEST_URI]); ?>

<br>
<div  class="row">
 
    <div class="col-md-12">
        
         <div class="text-center">
 
<br>
<br>
<hr>
 <nav aria-label="...">
  <ul class="pagination">
 <?php foreach ($data['pagination'] as $button) :  ?>
 
     <?php if($button->IsActive) :   ?>
     
         <li><a href="?page=<?=$button->page ?>"> <?=$button->text?> </a></li>
          
  <?php  else :  ?>
  
          <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo; <?=$button->text?> </span>   </a></li>
          
   <?php  endif ?>
   
 <?php endforeach; ?>
 </ul>
</nav>
 </div>
 </div>
 </div>
<br>










<table class="table table-striped "  width="100%">
    
<tr>
        <th  style=" width:10% "  > 
        
       <div>
          <div class="text">Id </div>    
             <div class="sort_foto"> <a href="/admin/book/list/down/1" >  <img src="/img/up.jpg"></img><br>  </a>
            </div>
 
            <div class="sort_foto"> <a href="/admin/book/list/up/1" >   <img src="/img/down.jpg"></img><br>  </a>
            </div>
        
      </div>  
     
        </th>
        
        
             <th style=" width:15% "  >
                <div>
                      <div class="text">Title </div>    
                         <div class="sort_foto"> <a href="/admin/book/list/down/2"  >  <img src="/img/up.jpg"></img><br>  </a>
                         </div>
 
                         <div class="sort_foto"> <a href="/admin/book/list/up/2" >   <img src="/img/down.jpg"></img><br>  </a>
                         </div>
        
                </div>  
                
             </th>
        <th>
        
        <div>
                      <div class="text">Description </div>    
                         <div class="sort_foto"> <a href="/admin/book/list/down/3" >  <img src="/img/up.jpg"></img><br>  </a>
                         </div>
 
                         <div class="sort_foto"> <a href="/admin/book/list/up/3" >   <img src="/img/down.jpg"></img><br>  </a>
                         </div>
        
                </div>  
        
        </th>
        <th style=" width:10% " >
                 <div>
        <div class="text">Price </div>    
                         <div class="sort_foto"> <a href="/admin/book/list/down/4" >  <img src="/img/up.jpg"></img><br>  </a>
                         </div>
 
                         <div class="sort_foto"> <a href="/admin/book/list/up/4" >   <img src="/img/down.jpg"></img><br>  </a>
                         </div>
        
                </div>  
        
        </th>
        <th  style=" width:15% " >
                
        <div>
        <div class="text">IsActive </div>    
                         <div class="sort_foto"> <a href="/admin/book/list/down/5" >  <img src="/img/up.jpg"></img><br>  </a>
                         </div>
 
                         <div class="sort_foto"> <a href="/admin/book/list/up/5" >   <img src="/img/down.jpg"></img><br>  </a>
                         </div>
        
                </div>  
        
        
        
        </th>
        <th style=" width:10% " >
        
        <div>
        <div class="text">Style </div>    
                         <div class="sort_foto"> <a href="/admin/book/list/down/6" >  <img src="/img/up.jpg"></img><br>  </a>
                         </div>
 
                         <div class="sort_foto"> <a href="/admin/book/list/up/6" >   <img src="/img/down.jpg"></img><br>  </a>
                         
                         <!--<div class="sort_foto"> <a href="&amp;up=6" >   <img src="/img/down.jpg"></img><br>  </a>-->
                         
                         </div>
        
                </div>  
        
        </th>
        
        <th style=" width:10% " >
        
        <div>
        <div class="text">Action </div>    
                         
        
                </div>  
        
        
        
        </th>
</tr>

<?php foreach ($data['book'] as $book) : ?>



<tr>
<td><?=($book->getId())?>      
 
 
 </td>
<td><?=($book->getTitle())?> </td>
<td><?=($book->getDescription())?> </td>
<td><?=($book->getPrice())?> </td>
<td><?=($book->getIsActive())?> </td>
<td><?=($book->getStyle()->getName())?> </td>

<td>  

<a href="/admin/book/edit_form_book/<?=$book->getId()?>" ><button type="button" class="btn btn-primary">Edit</button> </a> <br><br>

<a href="/admin/book/delete_book/<?=($book->getId())?>  "><button type="button" class="btn btn-danger" onclick="return DeleteItem()"   >Delete</button>  </a>


</td>



</tr> 

<?php endforeach; ?>

</table>


<div  class="row">
 
    <div class="col-md-12">
        
         <div class="text-center">
 
<br>
<div  class="row">
 
    <div class="col-md-12">
        
         <div class="text-center">
 
<br>
<br>
<hr>
 <nav aria-label="...">
  <ul class="pagination">
 <?php foreach ($data['pagination'] as $button) :  ?>
 
     <?php if($button->IsActive) :   ?>
     
         <li><a href="?page=<?=$button->page ?>"> <?=$button->text?> </a></li>
          
  <?php  else :  ?>
  
          <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo; <?=$button->text?> </span>   </a></li>
          
   <?php  endif ?>
   
 <?php endforeach; ?>
 </ul>
</nav>
 </div>
 </div>
 </div>