
 <div>
   <a href="/book/view_cart">
   <button class="btn btn-success" type="button">
   Cart <span class="badge"><?=count((new Lib\Cart)->getProducts())?></span>
   </button>
   </a>
 </div>

<br>



<div class="row">

<?php foreach ($data['book'] as $book) : ?>



  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" style="height:400px"  >
      <img src="/img/Books_87.jpg"  width="200"  alt="Book">
      <div class="caption">
        <h3><?=($book->getTitle())?></h3>
        <p><h3><?=$book->getPrice()?>&#8372;</h3></p>
        <p><a href="/book/view/<?=$book->getId()?>" class="btn btn-info" role="button">More...</a> <a href="/book/add_Product_Cart/<?=$book->getId()?>"  id="add-<?=$book->getId()?>"  class="btn btn-warning" role="button">Add to cart</a></p>
      </div>
    </div>
  </div>



<?php endforeach; ?>

</div>


<div  class="row">
 
    <div class="col-md-12">
        <div class="text-center">
 
<br>
<br>
<hr>
 
 <?php foreach ($data['pagination'] as $button) :  ?>
 
 <?php if($button->IsActive) :   ?>
 
 
 <a href="/book/list/page/<?=$button->page ?>"> <?=$button->text?> </a>
 
 
 
 
 <?php  else :  ?>
 
 <span  style="color:#555555" > <?=$button->text?> </span>
 
 <?php  endif ?>
 
 <?php endforeach; ?>
 
 </div>
 
 </div>
 
</div>

