



 <form method="post" action="">
  
    
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" class="form-control"placeholder="email" >
        
    </div> 
    <br> 
    <div class="form-group">
      <label for="password">Password</label>
      <input type="text" id="password"  name="password" class="form-control" placeholder="password">
    </div>
     
    <br>
    <button type="submit" class="btn-lg btn-block btn-primary">Go...</button>
  
</form> 

<br>
<a href="/security/register"> Register</a>