<table  style="width:100%;"  class="table table-striped ">
    
<tr>
        <th style="width:10%;" >
        
        <div>
        <div class="text">Id </div>    
                         <div class="sort_foto"> <a href="/admin/security/users/up/1" >  <img src="/img/up.jpg"></img><br>  </a>
                         </div>
 
                         <div class="sort_foto"> <a href="/admin/security/users/down/1" >   <img src="/img/down.jpg"></img><br>  </a>
                         </div>
        
                </div>  
        
        </th>
        <th style="width:20%;" >
          <div>
        <div class="text">Email </div>    
                         <div class="sort_foto"> <a href="/admin/security/users/up/2" >  <img src="/img/up.jpg"></img><br>  </a>
                         </div>
 
                         <div class="sort_foto"> <a href="/admin/security/users/down/2" >   <img src="/img/down.jpg"></img><br>  </a>
                         </div>
        
                </div>        
                
                
                </th>
        <th  >
            <div>
        <div class="text">Password </div>    
                         <div class="sort_foto"> <a href="/admin/security/users/up/3" >  <img src="/img/up.jpg"></img><br>  </a>
                         </div>
 
                         <div class="sort_foto"> <a href="/admin/security/users/down/3" >   <img src="/img/down.jpg"></img><br>  </a>
                         </div>
        
                </div>    
                
                
                </th>
        <th style="width:20%;" >
               <div>
        <div class="text">Role </div>    
                         <div class="sort_foto"> <a href="/admin/security/users/up/4" >  <img src="/img/up.jpg"></img><br>  </a>
                         </div>
 
                         <div class="sort_foto"> <a href="/admin/security/users/down/4" >   <img src="/img/down.jpg"></img><br>  </a>
                         </div>
        
                </div>   
                
                
                
                </th>
        <th style="width:20%;" >
                
                <div>
        <div class="text">Action </div>    
                         
        
                </div>   
                
                
                </th>
</tr>

<?php foreach ($data as $user) : ?>



<tr>
<td   ><?=($user->getId())?> </td> 
<td   ><?=($user->getName())?> </td>
<td  ><?=($user->getPassword())?> </td>
<td   ><?=($user->getRole())?> </td>

<td>  

<a href="/admin/security/edit_form_user/<?=($user->getId())?>"><button type="button" class="btn btn-primary">Edit</button> </a> <br><br>

<a href="/admin/security/delete_user/<?=($user->getId())?>"><button type="button" class="btn btn-danger" onclick="return DeleteItem()"  >Delete</button>  </a>


</td>

</tr> 

<?php endforeach; ?>

</table>