
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    
    
    
    <link rel="stylesheet" href="/css/slideshow.css">
    <link rel="stylesheet" href="/css/modalform.css">
    
    
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/menu.css">
   <link rel="stylesheet" href="/css/style.css">
   <link rel="stylesheet" href="/css/search.css">
   
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
    <script src="/js/menu.js" ></script>
    <script type="text/javascript" src="/js/slideshow.js"></script>
     <script type="text/javascript" src="/js/search.js"></script>
    <script type="text/javascript" src="/js/textchange.js"></script>
    <script type="text/javascript" src="/js/comments.js"></script>
    <script type="text/javascript" src="/js/news.js"></script>
    <script type="text/javascript" src="/js/reclama.js"></script>
  
    <title>Starter Template for Bootstrap</title>

    
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><?=Lib\Config::get('My name site')?></a>
        </div>
        
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li <?php if( $view_dir =='post'): ?> class="active" <?php endif ?> ><a href="/">Home</a></li>
            
            
            <?php  if(Lib\Session::has('user'))   {      ?>
            
            <li  ><a href="/security/logout">Logout</a></li>
            
            <li> <a>  USER: <?=Lib\Session::get('user')?> </a>   </li>
            
            
            <?php }  else {  ?>
            
            <li <?php if($view_dir=='security'): ?> class="active" <?php endif ?> ><a href="/security/login">Login</a></li>
            
            <?php } ?>
            
            
            <li <?php  if($view_dir=='contact'): ?> class="active" <?php endif ?> ><a href="/contact/send">Contact</a></li>
            
         <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog list<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/category/News">News</a></li>
                            <li><a href="/category/Sport">Sport</a></li>
                            <li><a href="/category/World">World</a></li>
                            <li><a href="/category/Politic">Politic</a></li>
                            <li class="divider"></li>
                            <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Posts</a>
								<ul class="dropdown-menu">
									<li><a href="#">Post</a></li>
									<li><a href="#">Post</a></li>
									<li><a href="#">Post</a></li>
									<li><a href="#">Post</a></li>
								</ul>
							</li>
                            <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Posts</a>
								<ul class="dropdown-menu">
									<li><a href="#">Post</a></li>
									<li><a href="#">Post</a></li>
									<li><a href="#">Post</a></li>
									<li class="divider"></li>
									<li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown Submenu Link 5.4</a>
										<ul class="dropdown-menu">
											<li><a href="#">Post</a></li>
											<li><a href="#">Post</a></li>
											<li class="divider"></li>
											<li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown Submenu Link 5.4.3</a>
												<ul class="dropdown-menu">
													<li><a href="#">Post</a></li>
													<li><a href="#">Post</a></li>
													<li><a href="#">Post</a></li>
													<li><a href="#">Post</a></li>
												</ul>
											</li>
											<li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown Submenu Link 5.4.4</a>
												<ul class="dropdown-menu">
													<li><a href="#">Post</a></li>
													<li><a href="#">Post</a></li>
													<li><a href="#">Post</a></li>
													<li><a href="#">Post</a></li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>
                        </ul>
                    </li>
            
            
            <li> <div id="block-search">
<form method="get">
 
<input type="text" name="q" id="input-search">
<input type="submit" id="form-search" value=" ">
 
</form>
<div id="block-search-result">
 
<ul id="list-search-result">
 

 
</ul>
 
</div>
</div>  </li>
            
            
            
          </ul>
          
          
          
          
        </div><!--/.nav-collapse -->
       
       
       
      
        
      </div>
    </nav>

    <div class="container">

      
      

      <div class="starter-template">
        
        <?php  if(Lib\Session::hasFlash()){  ?>
     
     
    <div class="alert alert-success" role="alert">
      
     <?=Lib\Session::getFlash()?> 
      
    </div>   
      
      <?php  } ?>
        
        
        
        
        <?=$content?>
        
      </div>

    </div>



<div id="modal_form"><!-- Сaмo oкнo --> 
      <span id="modal_close">X</span> <!-- Кнoпкa зaкрыть --> 
      <!-- Тут любoе сoдержимoе -->
 
 <div class="modal_form_width">
  
  
   <h4> Срочно подпишись на новости!!!</h4> 

      
 <form method="post" action="" class="form-inline">
  
    <div class="form-group">
      <label for="disabledTextInput">Name</label>
      <input type="text" id="disabledTextInput"  name="name" class="form-control" placeholder="login">
    </div>
    <br><br>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" class="form-control"placeholder="email" >
        
    </div> 
    <br> <br>
    
    
    <br><br>
    <button type="submit" >Send</button>
  
</form> 

      
</div>  
      
      
</div>
<div id="overlay"></div><!-- Пoдлoжкa -->

<a href="#" id="go">Go</a>



   
  </body>
  
  
        

   <script>
   

$(document).ready(function () {
    $(window).on('beforeunload', function() {
      document.write('<div>.....................</div>');  // HTML код в одну строчку!!!
      return "Вы точно решили покинуть наш сайт?";
      });
 
      $('a').click(function() {
      $(window).off('beforeunload');
    });
  });


</script>     
         
  <script type="text/javascript" src="/js/slideshow.js"></script>
  <script type="text/javascript" src="/js/modalform.js"></script>
  <script type="text/javascript" src="/js/search.js"></script>
  <script type="text/javascript" src="/js/textchange.js"></script>
</html>



