

<table class="table table-striped "  wigth="100%">
    
<tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>IsActive</th>
        <th>Style</th>
        <th>Action</th>
</tr>

<?php foreach ($data as $book) : ?>



<tr>
<td><?=($book->getId())?> </td> 
<td><?=($book->getTitle())?> </td>
<td><?=($book->getDescription())?> </td>
<td><?=($book->getPrice())?> </td>
<td><?=($book->getIsActive())?> </td>
<td><?=($book->getStyle()->getName())?> </td>

<td>  

<a href="/admin/book/edit_form_book/<?=$book->getId()?>" ><button type="button" class="btn btn-primary">Edit</button> </a> <br><br>

<a href="#"><button type="button" class="btn btn-danger">Delete</button>  </a>


</td>



</tr> 

<?php endforeach; ?>

</table>