



 <form method="post" action="">
  
    <div class="form-group">
      <label for="disabledTextInput">Name</label>
      <input type="text" id="disabledTextInput"  name="name" class="form-control" placeholder="login">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" class="form-control"placeholder="email" >
        
    </div> 
    <br> 
    
     <div>  
    <label for="textarea">Message</label>
    <textarea id="textarea"  name="message" class="form-control" rows="3"></textarea>
    </div> 
    <br>
    <button type="submit" class="btn-lg btn-block btn-primary">Send</button>
  
</form> 

